<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head xmlns:th="http://www.thymeleaf.org" 
       xmlns="http://www.w3.org/1999/xhtml" >
        <title>APLICACION WEB CON SPRING BOOT</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <header th:fragment="cabecero" >
            <h1 th:text="#{plantilla.titulo}" >TITULO</h1>
        </header>
        <footer th:fragment="piecero" >
            <span th:text="#{plantilla.pie}" >PIE</span>
            <a href="https://youtube.com" >Video de sustentación</a>
        </footer>

    </body>
</html>
