<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head xmlns:th="http://www.thymeleaf.org" 
          xmlns="http://www.w3.org/1999/xhtml" >
        <title>APLICACION WEB CON SPRING BOOT</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/estilos.css}">
    </head>
    <body>
        <header th:fragment="cabecero" class="main-header">

            <div class="header-content">

                <div class="logo-section">
                    <span class="logo-icon"><strong>CC</strong></span>
                    <h1 th:text="#{plantilla.titulo}">Gestión de Equipos</h1>
                </div>

                <div class="header-subtitle">
                    Sistema de Administración Deportiva
                </div>

            </div>

        </header>

        <footer th:fragment="piecero" class="main-footer">

            <div class="footer-left">
                <span th:text="#{plantilla.pie}">
                    Por Carlos Canabal
                </span>
            </div>

            <div class="footer-center">
                <a href="https://youtube.com" target="_blank">
                    Video de sustentación
                </a>
            </div>
            <div class="footer-right">
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="logout-btn">
                        Cerrar sesión
                    </button>
                </form>
            </div>
        
        </footer>
    </body>
</html>
