<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head xmlns:th="http://www.thymeleaf.org" 
       xmlns="http://www.w3.org/1999/xhtml" >
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <header th:fragment="cabecero" >
            <h1>APLICACION CON SPRINT BOOT</h1>
        </header>
        <footer th:fragment="piecero" >
            <span>por: Carlos Canabal</span>
            <a href="https://youtube.com" >Video de sustentación</a>
        </footer>

    </body>
</html>
