<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Equipo de futbol</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>PAGINA DE INICIO</h2>
        
        <a th:href="@{/agregar}" >Agregar equipo</a>

        <div th:if="${equipos != null and !equipos.empty}">
            <table border="1" cellspacing="1" cellpadding="1">
                <thead>
                    <tr>
                        <th>NOMBRE</th>
                        <th>ESLOGAN</th>
                        <th>TECNICO</th>
                        <th>PAIS</th>
                        <th>CIUDAD</th>
                        <th>CATEGORIA</th>
                        <th>GOLES</th>
                        <th>PARTIDOS JUGADOS</th>
                        <th>PARTIDOS GANADOS</th>
                        <th>CAMPEONATOS</th>
                        <th>EXPULSIONES</th>
                        <th>EMPATES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="e: ${equipos}">
                        <td th:text="${e.nombre}" ></td>
                        <td th:text="${e.eslogan}" ></td>
                        <td th:text="${e.tecnico}" ></td>
                        <td th:text="${e.pais}" ></td>
                        <td th:text="${e.ciudad}" ></td>
                        <td th:text="${e.categoria}" ></td>
                        <td th:text="${e.numGoles}" ></td>
                        <td th:text="${e.numPartidosJugados}" ></td>
                        <td th:text="${e.numPartidosGanados}" ></td>
                        <td th:text="${e.numCampeonatos}" ></td>
                        <td th:text="${e.numExpulsiones}" ></td>
                        <td th:text="${e.numEmpates}" ></td>
                    </tr>
                </tbody>
            </table>

        </div>    

        <div th:if="${equipos == null or equipos.empty}">
            La lista de equipos está vacía
        </div>

    </body>
</html>
