<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html  xmlns:th="http://www.thymeleaf.org" 
       xmlns="http://www.w3.org/1999/xhtml"
       >
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
    </head>
    <body>

        <h1 th:text="#{equipo.formulario}"></h1>

        <a th:href="@{/}" th:text="#{accion.regresar}"></a>

        <br/>
        <hr/>

        <form th:action="@{/guardar}" method="POST" th:object="${equipo}">

            <input type="hidden" th:field="*{id}" />

            <label for="nombre" th:text="#{equipo.nombre}"></label>
            <input type="text" th:field="*{nombre}" />
            <span th:if="${#fields.hasErrors('nombre')}"
                  th:errors="*{nombre}"></span>
            <br/>

            <label for="eslogan" th:text="#{equipo.eslogan}"></label>
            <input type="text" th:field="*{eslogan}" />
            <br/>

            <label for="tecnico" th:text="#{equipo.tecnico}"></label>
            <input type="text" th:field="*{tecnico}" />
            <span th:if="${#fields.hasErrors('tecnico')}"
                  th:errors="*{tecnico}"></span>
            <br/>

            <label for="pais" th:text="#{equipo.pais}"></label>
            <input type="text" th:field="*{pais}" />
            <span th:if="${#fields.hasErrors('pais')}"
                  th:errors="*{pais}"></span>
            <br/>

            <label for="ciudad" th:text="#{equipo.ciudad}"></label>
            <input type="text" th:field="*{ciudad}" />
            <span th:if="${#fields.hasErrors('ciudad')}"
                  th:errors="*{ciudad}"></span>
            <br/>

            <label for="categoria" th:text="#{equipo.categoria}"></label>
            <input type="text" th:field="*{categoria}" />
            <span th:if="${#fields.hasErrors('categoria')}"
                  th:errors="*{categoria}"></span>
            <br/>

            <label for="numGoles" th:text="#{equipo.numGoles}"></label>
            <input type="number" th:field="*{numGoles}" />
            <span th:if="${#fields.hasErrors('numGoles')}"
                  th:errors="*{numGoles}"></span>
            <br/>

            <label for="numPartidosJugados" th:text="#{equipo.numPartidosJugados}"></label>
            <input type="number" th:field="*{numPartidosJugados}" />
            <span th:if="${#fields.hasErrors('numPartidosJugados')}"
                  th:errors="*{numPartidosJugados}"></span>
            <br/>

            <label for="numPartidosGanados" th:text="#{equipo.numPartidosGanados}"></label>
            <input type="number" th:field="*{numPartidosGanados}" />
            <span th:if="${#fields.hasErrors('numPartidosGanados')}"
                  th:errors="*{numPartidosGanados}"></span>
            <br/>

            <label for="numCampeonatos" th:text="#{equipo.numCampeonatos}"></label>
            <input type="number" th:field="*{numCampeonatos}" />
            <span th:if="${#fields.hasErrors('numCampeonatos')}"
                  th:errors="*{numCampeonatos}"></span>
            <br/>

            <label for="numExpulsiones" th:text="#{equipo.numExpulsiones}"></label>
            <input type="number" th:field="*{numExpulsiones}" />
            <span th:if="${#fields.hasErrors('numExpulsiones')}"
                  th:errors="*{numExpulsiones}"></span>
            <br/>

            <label for="numEmpates" th:text="#{equipo.numEmpates}"></label>
            <input type="number" th:field="*{numEmpates}" />
            <span th:if="${#fields.hasErrors('numEmpates')}"
                  th:errors="*{numEmpates}"></span>
            <br/>

            <input type="reset" th:value="#{accion.reiniciar}" />
            &nbsp;&nbsp;&nbsp;

            <input type="submit" th:value="#{accion.guardar}" />

        </form>

    </body>
</html>
